/* ALL SECTION */
main {
    background-color: white;
    margin-top: -40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

section {
    padding: 75px 0px;
    max-width: 1250px;
    margin: 0 auto;
}



p.txt{
    text-align: center;
    font-size: 20px;
    margin: 60px 80px;
}





/* SECTION ABOUT */
section#about{
    padding-top: 125px;
}

/* SECTION OWNER */
section#owner{
    display: flex;
    flex-direction: row;

    .left{
        width: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        img{
            height: 100%;
            margin: auto;
            border-radius: 22px;
            max-width: 100%;
            object-fit: contain;
        }
    }

    .right{
        width: 50%;
    }
}

/* SECTION PROJECT */


/* SECTION PARTENAIRE */